.md-typeset .admonition,
.md-typeset details {
	font-size: 100%;
}

.center-table {
  text-align: center;
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial; /* Reset alignment for table cells */
  font-size: 15px;
}
